* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.button {
  width: 300px;
  position: relative;
}

.btn {
  width: 100%;
  padding: 20px;
  border: 0;
  border-radius: 20px;
  background: #8c84b4;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 20px;
  background: linear-gradient(45deg,
      red,
      rgb(138, 138, 220),
      rgb(0, 255, 0),
      rgb(255, 255, 0),
      orange,
      rgb(255, 0, 38),
      rgb(237, 108, 205));
  background-size: 600%;
  z-index: 0;
  animation: glow 5s linear infinite;
  filter: blur(15px);
  opacity: 0;
  transition: opacity 0.25s ease;
}

@keyframes glow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.button:hover::before {
  opacity: 1;
}

.btn:active {
  background-color: transparent;
  transform: scale(0.99);
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}